*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 114, 0.778) , rgba(71, 0, 71, 0.805));
}